<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header('All Posts')">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments :: navBar"></nav>
<div id="container">
<h1>Welcome back, <span th:text="${username}"></span></h1>
<div id="posts"></div>
</div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous" class=""></script>
<script src="../js/index.js"></script>
</body>
</html>