<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: header('Create Post')" />
<body>
<nav th:replace="fragments :: navBar"></nav>
<div id="postsContainer">
<h1>Create a Post</h1>

<form th:action="@{/posts/create}" th:method="post" th:object="${post}" enctype="multipart/form-data">

    <div th:include="fragments :: postForm"></div>
    <div class="form-group">
    <input type="submit" id="submit" value="Create" />
    </div>
</form>
</div>
<div th:replace="fragments :: script"></div>
</body>
</html>