<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: header('Edit Post')" />
<body>
<nav th:replace="fragments :: navBar"></nav>
<h1>Edit a Post</h1>

<form th:action="@{/posts/edit}" th:method="post" th:object="${post}">

<div th:include="fragments :: postForm"></div>

    <button type="submit">Update</button>

</form>

<form th:action="@{/posts/delete}" th:method="post" th:object="${post}">
    <input type="hidden" name="id" id="id" th:value="${post.id}" />
    <button type="submit">Delete</button>

</form>



</body>
</html>