<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments :: navBar"></nav>
<h1>Edit a Post</h1>

<form th:action="@{/posts/edit}" th:method="post" th:object="${post}">

<div th:include="fragments :: form"></div>

    <button type="submit">Update</button>

</form>

<form th:action="@{/posts/delete}" th:method="post" th:object="${post}">
    <input type="hidden" name="id" id="id" th:value="${post.id}" />
    <button type="submit">Delete</button>

</form>



</body>
</html>