<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: header('All Posts')" />
<body>
<nav th:replace="fragments :: navBar"></nav>
<div id="postsContainer">
    <div id="welcome">
    <h1>Welcome <span th:text="${user.username}"></span></h1></div>
    <div th:each="post: ${posts}" class="post">
        <a th:href="'posts/' + ${post.id}"><h1 th:text="${post.title}"></h1></a>
        <div th:if="${post.imageUrl}">
            <img th:src="'/uploads/' + ${post.imageUrl}" alt="" width="150" height="auto" />
        </div>
        <h3 th:text="${post.body}"></h3>
        <a th:href="'posts/' + ${post.id} + '/edit'"><h3>Edit/ Delete Post</h3></a>

    </div>
</div>

</body>
</html>