body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #4e4e4e;
}

a {
    text-decoration: none;
    color: #4e4e4e;
}

a:hover {
    color: #232323;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 3px solid rgba(0, 0, 0, 0.32);
}

#header h1 {
    font-size: 39px;
    margin: 4px auto;
}

#menuContainer {
    max-width: 70%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

nav button {
    width: 120px;
    height: 38px;
    padding: 0;
    border-radius: 8px;
    border-color: transparent;
    margin: 9px 15px;
    background-color: transparent;
    font-size: 1em;
}

nav a {
    text-decoration: none;
    color: #696969;
}

#postsContainer {
    width: 65%;
    margin: 0 auto;

}

#welcome {
    font-size: 1.8em;
    text-align: center;
    margin: 0 auto;
    background-color: #174a86;
    color: white;
    border-radius: 8px;
}

.post {
    border: 3px solid rgba(0, 0, 0, 0.32);
    text-align: center;
    margin: 15px auto;
    border-radius: 8px;
}
