<!DOCTYPE html>
<html xmlns:th="http://ww.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header(title)">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../css/style.css" />
    <title th:text='${title}'>Spring Blog</title>
</head>
<body>

    <nav th:fragment="navBar">
        <div id="header">
            <h1>Code Dev Blog</h1>
        </div>
            <div id="menuContainer">
            <button><a href="/posts">All Posts</a></button>
            <button sec:authorize="isAuthenticated()"><a href="/posts/create">Create Post</a></button>
            <button sec:authorize="!isAuthenticated()"><a href="/register">Register</a></button>
            <button sec:authorize="!isAuthenticated()"><a href="/login">Login</a></button>
            <button sec:authorize="hasRole('ADMIN')"><a href="/admin">Admin</a></button>
            <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" th:method="post">
                <button type="submit">Logout</button>
            </form>
            </div>


            </div>
    </nav>


    <form action="nothing">
        <div th:fragment="postForm">
<div>
    <label for="title">Title: </label>
    <input type="text" name="title" id="title" th:field="*{title}"/>
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
</div>
            <div>
                <label for="file">Image</label>
                <input type="file" id="file" name="file" />
            </div>

<div>
    <label for="body">Body: </label>
    <textarea id="body" name="body" cols="30" rows="20" th:field="*{body}"></textarea>
    <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></p>
</div>
            <input type="hidden" name="id" id="id" th:field="*{id}" />
        </div>
</form>

</body>
</html>